@import url(https://fonts.googleapis.com/css2?family=Mooli&display=swap);

*{
    margin: 0;
    padding: 0;
}
body{

    
    font-family: 'Mooli', sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100Vh;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    left: 0;
}

main{
    padding: 3vw;
}


h1{
    text-align: center;
    font-size: 3vw;
    padding: 2vw;
    
}
h2{
    font-size: 2.5vw;
    
}
h3{
    font-size: 2vw;
    margin-bottom: 1vw;
}
p{
    font-size: 1.5vw;
}

th, td, .mas{
    font-size: 1.5vw;
}
li{
    list-style: none;
}


.imgfood{
    width: 40%;
    border-radius: 10px;
}

.nav{
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background-color: gray;
    text-decoration: none;
    padding: 0.3%;
    margin: 0.3%;
    font-size: 1.5vw;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 5vw;

    text-align: center;
    left: 0;
    bottom: 0;
    margin-top: auto;

}

.redes{
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
    margin: 0px 6px;
}
a:hover{
    color: rgb(106, 106, 107);
}



.form{
    background-color: rgba(182, 179, 179, 0.295);

    padding: 50px;
    border-radius: 10px;
}

input, label{
    font-size: 1.5vw;
}
input[type=text]{
    width: 99%;
    padding: 1vw;

    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
}

input[type=submit]{
    text-align: center;
    background-color: white;
    padding: 2vw;
    width: 200px;
    font-family:  'Mooli', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.enviar{
    display: flex;
    justify-content: center;

}
input[type=submit]:hover{color: white;
background-color:black;
}